* {
  outline: 1px solid #ccc;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.gallery-container {
  width: 980px;
  height: 367.5px;
  margin: 0 auto;
}

.gallery-item {
  display: flex;
  flex-direction: row;
}

.photo {
  width: 490px;
  height: 367.5px;
  background-color: aqua;
}

.post {
  width: 490px;
  height: 367.5px;
  background-color: burlywood;
}

.photo {
  background-image: url("/images/atikh-bana-_KaMTEmJnxY-unsplash.jpg");
  background-size: cover;
}

.footer {
  margin-top: auto;
  height: 100px;
  background-color: #000;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
